<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do usuário</title>

    <link href="../style/userpage.css" rel="stylesheet" /> 
</head>

<body>
    <!-- CABEÇALHO -->
    <header>
        <span src="">Logo</span>
        <nav>
            <img class="crtl_user"src="../imagens/hamburguer.png"  ./>
            <img class="crtl_user"src="../imagens/profile.png"  ./>
        </nav>
    </header>
    <!-- FIM CABEÇALHO -->

    <!-- CORPO -->

    <!-- Categorias -->
    <main>
        <div class="categorias">
            
            <h1>categorias: </h1>
            <div class="categoria_especifica">
                Lançamentos
            </div>
            <div class="categoria_especifica">
                Em alta
            </div>
            <div class="categoria_especifica">
                Mangás
            </div>
            <div class="categoria_especifica">
                Marvel
            </div>
            <div class="categoria_especifica">
                DC
            </div>
            <div class="categoria_especifica">
                Ziraldo
            </div>
            <div class="categoria_especifica">
                Turma da mônica
            </div>
        </div>
        <!-- Fim categorias -->

        <!-- Barra lateral -->
        <section class="painel_lateral">
            <button type="button" class="colapsador">
                <img src="../imagens/colapsar.png"/>
            </button>

            <!-- <div class="container">            -->
                <div class="seta_direita">
                    <img src="../imagens/seta_direita.png"/>
                    <p>Herói</p>
                </div>

                <div class="seta_direita">
                    <img src="../imagens/seta_direita.png"/>
                    <p>Herói</p>
                </div>

                <div class="seta_direita">
                    <img src="../imagens/seta_direita.png"/>
                    <p>Herói</p>
                </div>

                <div class="seta_direita">
                    <img src="../imagens/seta_direita.png"/>
                    <p>Herói</p>
                </div>

                <div class="seta_direita">
                    <img src="../imagens/seta_direita.png"/>
                    <p>Herói</p>
                </div>
            <!-- </div> -->
        </section>
        <!-- Fim barra lateral -->


        <!-- HQs em tela -->
        <section class="expositor">

            <div class="base_apoio">
                <div class="hq">
                    <img src="../imagens/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="../imagens/favoritar.png"  />
                        <img src="../imagens/salvar.png"  />
                    </div>
                </div>
            </div>

            <div class="base_apoio">
                <div class="hq">
                    <img src="../imagens/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="../imagens/favoritar.png"  />
                        <img src="../imagens/salvar.png"  />
                    </div>
                </div>
            </div>

            <div class="base_apoio">
                <div class="hq">
                    <img src="../imagens/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="../imagens/favoritar.png"  />
                        <img src="../imagens/salvar.png"  />
                    </div>
                </div>
            </div>

            <div class="base_apoio">
                <div class="hq">
                    <img src="../imagens/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="../imagens/favoritar.png"  />
                        <img src="../imagens/salvar.png"  />
                    </div>
                </div>
            </div>

            <div class="base_apoio">
                <div class="hq">
                    <img src="../imagens/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="../imagens/favoritar.png"  />
                        <img src="../imagens/salvar.png"  />
                    </div>
                </div>
            </div>

            <div class="base_apoio">
                <div class="hq">
                    <img src="../imagens/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="../imagens/favoritar.png"  />
                        <img src="../imagens/salvar.png"  />
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim HQs em tela -->
    </main>
    <!-- FIM CORPO -->

    <!-- RODAPÉ -->
    <footer>
        <!-- Logo -->
        <div class="logo">
            <span>LOGO</span>
        </div>
        <!-- Fim logo -->

        <!-- Copyright-->
        <div class="copyright">
            <img src="../imagens/copyright.png"  alt="copyright"../>
            <span>Copyright</span>
        </div>
        <!-- Fim copyright-->

        <!-- Botão voltar -->
        <div class="voltar">
            <img src="../imagens/voltar.png"  />
        </div>
        <!-- Fim botão voltar -->
    </footer> 
    <!-- FIM RODAPÉ -->
</body>
</html>