    <!-- RODAPÉ -->
    <footer>
        <!-- Logo -->
        <div class="logo">
            <span>LOGO</span>
        </div>
        <!-- Fim logo -->

        <!-- Copyright-->
        <div class="copyright">
            <img src="images/copyright.png"  alt="copyright"../>
            <span>Copyright</span>
        </div>
        <!-- Fim copyright-->

        <!-- Botão voltar -->
        <div class="voltar">
            <img src="images/voltar.png"  />
        </div>
        <!-- Fim botão voltar -->
    </footer> 
    <!-- FIM RODAPÉ -->

    <script type="text/javascript">

        function fecharMenu() {
            const menu = document.getElementById('navegacao');
            menu.style.left = "-100%";

            const expositor = document.querySelector('.expositor')
            expositor.style.marginLeft = '0'
        }

        function abrirMenu() {
            const menu = document.getElementById('navegacao');
            menu.style.left = "0";

            const expositor = document.querySelector('.expositor');
            expositor.style.marginLeft = "150px";
        }          
    </script>

</body>
</html