    <!-- FOOTER -->
    <footer>
        <!-- Logo e Redes Sociais-->
        <section class="redes-sociais">
            <span>LOGO</span>
            <div>
                <img src="images/facebook.png" alt="logo facebook">
                <img src="images/twitter.png" alt="logo twitter">
                <img src="images/instagram.png" alt="logo instagram">
            </div>
        </section>
        <!-- Fim logo e Redes Sociais-->

        <div class="capsula">
            <!-- Links -->
            <section class="links">
                <div>
                    <h4>A Empresa</h4>
                    <ul>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                    </ul>
                </div>
                <div>
                    <h4>Comunidade</h4>
                    <ul>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                    </ul>
                </div>
                <div>
                    <h4>Úteis</h4>
                    <ul>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                    </ul>
                </div>
            </section>
            <!-- Fim links -->
            
            <!-- Newsletter -->
            <section class="newsletter">
                <form>
                    <label for="email">Receba Nossa newsletter: </label>
                    <input type="email" name="email" id="email" required/>
                    <button type="submit">enviar</button>
                </form>
            </section>
            <!-- Fim newsletter -->
        </div>
    </footer> 
    <!-- FIM FOOTER -->   
</body>
</html>