<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do gibi</title>

    <link href="stylesheets/comicpage.css" rel="stylesheet"/>
</head>
<body>
    <!-- CABEÇALHO -->
    <header>
        <span src="">Logo</span>
        <nav>
            <img id="hamburguer" class="crtl_user"src="images/hamburguer.png"/>
            <img id="profile" class="crtl_user"src="images/profile.png"/>
        </nav>
    </header>
     <!-- FIM CABEÇALHO -->

    <!-- CORPO -->
    <main>
        <!-- Capa da HQ e botões de ação -->
        <div class="exibicao">
            <img src="images/hq.png"/>
            <img src="images/hq.png"/>
            <img src="images/hq.png"/>
        </div>
        <button class="interagir" type="button" >Ler</button>
        <button class="interagir" type="button">Download</button>
        
        <button class="interagir" type="button">curtir</button>
        <button class="interagir" type="button">compartilhar</button>
        <!-- Fim Capa da HQ e botões de ação -->

        <!-- Sinópse -->
        <section>
            <h1>Nesta edição</h1>
            <p id="sinopse">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt congue ligula in rutrum. 
                Morbi nec lacus condimentum, hendrerit mi eu, feugiat. Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Sed tincidunt congue ligula in rutrum. Morbi nec lacus condimentum, hendrerit 
                mi eu, feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt congue ligula
                in rutrum. Morbi nec lacus condimentum, hendrerit mi eu, feugiat.
            </p>
            <p id="ano-edicao">Ano de edição - xx/xx/xxxx</p>
        </section>
        <!-- Fim Sinópse -->

        <!-- Informações técnicas -->    
        <section class="informacoes-tecnicas">
            <h2>Informações técnicas</h2>
            <table>
                <th>
                    <tr>
                        <td>Informações técnicas</td>
                        <td>Informações técnicas</td>
                    </tr>
                </th>
                <tr>
                    <td>Informações técnicas</td>
                    <td>Informações técnicas</td>
                </tr>
                <tr>
                    <td>Informações técnicas</td>
                    <td>Informações técnicas</td>
                </tr>
                <tr>
                    <td>Informações técnicas</td>
                    <td>Informações técnicas</td>
                </tr>
            </table>
        </section>
        <!-- Fim informações técnicas -->

        <!-- Antevisão -->
        <section class="antevisao">
            <h2>Antevisão</h2>
            <div>
                <img src="images/hq.png"/>
                <img src="images/hq.png"/>
                <img src="images/hq.png"/>
            </div>
        </section>
        <!-- Fim antevisão-->

        <!-- Títulos semelhantes-->
        <section class="titulos-semelhantes">
            <h2>Títulos semelhantes</h2>
            <div>
                <img src="images/hq.png"/>
                <img src="images/hq.png"/>
                <img src="images/hq.png"/>
                <img src="images/hq.png"/>
            </div>
        </section>
        <!-- Fim títulos semelhantes -->
    </main>
    <!-- FIM CORPO -->

    <!-- RODAPÉ -->
    <footer>
        <!-- Logo -->
        <div class="logo">
            <span>LOGO</span>
        </div>
        <!-- Fim logo -->

        <!-- Copyright-->
        <div class="copyright">
            <img src="images/copyright.png" alt="copyright"/>
            <span>Copyright</span>
        </div>
        <!-- Fim copyright-->

        <!-- Botão voltar -->
        <div class="voltar">
            <img src="images/voltar.png" />
        </div>
        <!-- Fim botão voltar -->
    </footer> 
    <!-- FIM RODAPÉ -->
</body>
</html>