<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de HQ</title>

    <link href="../public/stylesheets/landingpage.css" rel="stylesheet"  />
</head>
<body>
    <!-- CABEÇALHO -->
    <header>
        <span src="">Logo</span>
        <nav>
            <img class="crtl_user"src="../public/images/hamburguer.png"/>
            <img class="crtl_user"src="../public/images/profile.png"/>
        </nav>
    </header>
    <!-- FIM CABEÇALHO -->

    <!-- CORPO -->
    <main>
        <!-- CAPA -->
        <div class="capa"></div>
        <!-- FIM CAPA -->

        <!-- APRESENTAÇÃO -->
        <div class="merchandizing">
            <img class="convite" src="../public/images/convite.png" />
        </div>

        <button>Cadastre-se</button>
        <!-- FIM APRESENTAÇÃO -->

        <!-- CHAMADA -->
        <div class="chamada">
            <span>O melhor dos quadrinhos em um só lugar !</span>
            <div class="logo-herois">
                <img class="simbolo-heroi" src="../public/images/naruto.png"/>
                <img class="simbolo-heroi" src="../public/images/Dragonball.png"/>
                <img class="simbolo-heroi" src="../public/images/DoctorStrange.png"/>
                <img class="simbolo-heroi" src="../public/images/JL.png"/></li>
                <img class="simbolo-heroi" src="../public/images/super-homem.png"/>
                <img class="simbolo-heroi" src="../public/images/batman.png"/>
                <img class="simbolo-heroi" src="../public/images/avengers.png"/>
                <img class="simbolo-heroi" src="../public/images/x-men.png"/>
            </div>
        </div>
        <!-- FIM CHAMADA -->


        <!-- CONTEÚDO1 -->
        <section class="container">
            <!-- Quadrinhos--> 
            <div class="quadrinhos">
                <div class="capa-gibi">
                    <img src="../public/images/avengers.png" alt="capa do gibi">
                </div>

                <div class="capa-gibi">
                    <img src="../public/images/flash.png" alt="capa do gibi">
                </div>

                <div class="capa-gibi">
                    <img src="../public/images/Dragonball.png" alt="capa do gibi">
                </div>

                <div class="capa-gibi">
                    <img src="../public/images/naruto.png" alt="capa do gibi">
                </div>
            </div>
            <!-- Fim quadrinhos -->

            <!-- Descrição 1-->
            <div class="descricao">
                <h2>O que o (nome da página) tem ?</h2>

                <h3>Milhares de gibis Online</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore.
                </p>

                <h3>Fórum de discussão</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore.
                </p>

                <h3>Lançamentos</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore.
                </p>
                <!-- Fim descrição 1-->
            </div>
        </section>  
        <!-- FIM CONTEÚDO1 -->
        
        <!-- CONTEÚDO 2 -->
        <section class="container recursos">
            <!-- Descrição 2 -->
            <div class="descricao">
                <h2>E mais...</h2>

                <h3>Já sabe o que quer ?</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore.
                </p>

                <h3>Em alta </h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore.
                </p>

                <h3>Títulos semelhantes</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore. 
                </p>
            </div>
            <!-- Fim descrição 2-->

            <div class="quadrinhos">
                <div class="capa-gibi">
                    <img src="../public/images/avengers.png" alt="capa do gibi">
                </div>
            </div>
        </section>
        <!-- FIM CONTEUDO 2 -->

        <!-- IMPRENSA -->
        <section class="imprensa">
            <span>O que estão dizendo sobre nós ?</span>
            <div>
                <img src="../public/images/magazine1.png"/>
                <img src="../public/images/magazine2.png"/>
                <img src="../public/images/magazine3.png"/>
                <img src="../public/images/magazine1.png"/>
                <img src="../public/images/magazine2.png"/>
                <img src="../public/images/magazine3.png"/>
                <img src="../public/images/magazine1.png"/>
            </div>
        </section>
        <!-- FIM IMPRENSA -->
    </main>

    <!-- FOOTER -->
    <footer>
        <!-- Logo e Redes Sociais-->
        <section class="redes-sociais">
            <span>LOGO</span>
            <div>
                <img src="../public/images/facebook.png" alt="logo facebook">
                <img src="../public/images/twitter.png" alt="logo twitter">
                <img src="../public/images/instagram.png" alt="logo instagram">
            </div>
        </section>
        <!-- Fim logo e Redes Sociais-->

        <div class="capsula">
            <!-- Links -->
            <section class="links">
                <div>
                    <h4>A Empresa</h4>
                    <ul>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                    </ul>
                </div>
                <div>
                    <h4>Comunidade</h4>
                    <ul>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                    </ul>
                </div>
                <div>
                    <h4>Úteis</h4>
                    <ul>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                    </ul>
                </div>
            </section>
            <!-- Fim links -->
            
            <!-- Newsletter -->
            <section class="newsletter">
                <form>
                    <label for="email">Receba Nossa newsletter: </label>
                    <input type="email" name="email" id="email" required/>
                    <button type="submit">enviar</button>
                </form>
            </section>
            <!-- Fim newsletter -->
        </div>
    </footer> 
    <!-- FIM FOOTER -->   
</body>
</html>