<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de HQ</title>
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <form class="formulario" action="#" method="POST">
            <div class="dados">
                
                <label for="email">Digite seu email</label>
                <input type="email" name="email" id="email">
                <label for="senha">Digite sua senha</label>
                <input type="password" name="senha" id="senha">
                <button type="submit">Logar</button>
                
            </div>
    </main>
    
 