<%- include('./global/header.ejs') %>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do usuário</title>

    <link href="stylesheets/usersPage.css" type="text/css" rel="stylesheet" /> 
</head>

<body> -->
    <!-- CABEÇALHO -->
    <!-- <header>
        <span src="">Logo</span>
        <nav>
            <img class="crtl_user"src="images/hamburguer.png"  ./>
            <img class="crtl_user"src="images/profile.png"  ./>
        </nav>
    </header> -->
    <!-- FIM CABEÇALHO -->

    <!-- CORPO -->
    <!-- Categorias -->
    <main>
        <div class="categorias">
            <h1>categorias: </h1>
            <div class="categoria_especifica">
                Lançamentos
            </div>
            <div class="categoria_especifica">
                Em alta
            </div>
            <div class="categoria_especifica">
                Mangás
            </div>
            <div class="categoria_especifica">
                Marvel
            </div>
            <div class="categoria_especifica">
                DC
            </div>
            <div class="categoria_especifica">
                Ziraldo
            </div>
            <div class="categoria_especifica">
                Turma da mônica
            </div>
        </div>
        <!-- Fim categorias -->

        <!-- Painel lateral -->
        <section>
            
            <nav id="navegacao" class="active">
                <div class="menu-toggle"><img src="images/colapsar.png" alt="Menu"></div>
                <ul>
                    <li><a href="#" class="selecao"><img src="images/seta_direita.png" /><span>Herói</span></a></li>
                    <li><a href="#" class="selecao"><img src="images/seta_direita.png" /><span>Herói</span></a></li>
                    <li><a href="#" class="selecao"><img src="images/seta_direita.png" /><span>Herói</span></a></li>
                    <li><a href="#" class="selecao"><img src="images/seta_direita.png" /><span>Herói</span></a></li>
                    <li><a href="#" class="selecao"><img src="images/seta_direita.png" /><span>Herói</span></a></li>
                    <li><a href="#" class="selecao"><img src="images/seta_direita.png" /><span>Herói</span></a></li>
                </ul>
            </nav>
        </section>
        <!-- Fim barra lateral -->


        <!-- HQs em tela -->
        <section class="expositor">
            <div class="base_apoio">
                <div class="hq">
                    <img src="images/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="images/favoritar.png"  />
                        <img src="images/salvar.png"  />
                    </div>
                </div>
            </div>

            <div class="base_apoio">
                <div class="hq">
                    <img src="images/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="images/favoritar.png"  />
                        <img src="images/salvar.png"  />
                    </div>
                </div>
            </div>

            <div class="base_apoio">
                <div class="hq">
                    <img src="images/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="images/favoritar.png"  />
                        <img src="images/salvar.png"  />
                    </div>
                </div>
            </div>

            <div class="base_apoio">
                <div class="hq">
                    <img src="images/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="images/favoritar.png"  />
                        <img src="images/salvar.png"  />
                    </div>
                </div>
            </div>

            <div class="base_apoio">
                <div class="hq">
                    <img src="images/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="images/favoritar.png"  />
                        <img src="images/salvar.png"  />
                    </div>
                </div>
            </div>

            <div class="base_apoio">
                <div class="hq">
                    <img src="images/hq.png"  />
                </div>

                <div class="container">
                    <div class="infomacoes_tecnicas">
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                        <p>Informações técnicas</p>
                    </div>
                    <div class="interagir">
                        <img src="images/favoritar.png"  />
                        <img src="images/salvar.png"  />
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim HQs em tela -->
    </main>
    <!-- FIM CORPO -->

    <%- include('./global/footer2.ejs') %>




