* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0
}

/* -- BODY ----------------------------------------------------------------------------------------- */
html, body {
    width: 100%;
    overflow: auto;
}

body {
    background: rgba(140, 188, 224, 0.3); /*url("../imagens/superherois.png"),
                                              url("../imagens/fundo-ruidoso.png"),
                                              linear-gradient(60deg, rgb(177, 173, 173), #eee7e7);*/
    overflow-x: hidden;           
}

/* -- FIM BODY -------------------------------------------------------------------------------------- */


/* -- HEADER -----------------------------------------------------------------------------------------*/
 /* header {
    width: 100vw;
    margin:0;
} */

/*
header span {
    align-self: center;
    margin-left: 10px;
}

header nav {
    height: 100%;
    width: 100px;
    margin-right: -15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.crtl_user {
    width: 50%;
}

#profile {
    display: none;

} */
/*-- FIM HEADER --------------------------------------------------------------------------------------*/

/* -- MAIN -------------------------------------------------------------------------------------------*/

main div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main h1 {
    text-align: center;
    margin: 15px 0;
}

#sinopse {
    text-align: justify;
    padding: 0px 10px;
}

#ano-edicao {
    text-align: end;
    padding-right: 10px;
}

main h2 {
    text-align: center;
    margin: 15px 0
}

.informacoes-tecnicas {
    border: 1px solid black;
}

table {
    width: 100%;
    margin: auto;
    text-align: center;
    
}

.antevisão div {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.antevisao div img {
    width: 30%;
    margin: 5px;

}

.titulos-semelhantes div{
    width: 100%;
    background-color: #969FAA;
    display: flex;
    justify-content: space-around;
}

.titulos-semelhantes div img {
    width: 20%;
    margin: 5px;
}


/* -- FIM MAIN ---------------------------------------------------------------------------------------*/

/* -- FOOTER -----------------------------------------------------------------------------------------*/

/* footer {
    width: 100%;
    background-color: #212121;
    color: #FFF;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .logo {
    border: 1px solid red;
}

footer .copyright {
    border: 1px solid red;
    width: 90px;
    display: flex;
    
}

footer .copyright img {
    width: 100%;
}

footer .voltar {
    width: 9%;
}

footer .voltar img {
    width: 100%;
} */
/* -- FIM FOOTER -------------------------------------------------------------------------------------*/


/*-- Média Queries*/

@media (min-width: 481px) {
    .informacoes-tecnicas table {
        text-align: center;
        padding: 15px;
        max-width: 500px;
    }

    footer .voltar {
        width: 6%;
    }
} 

@media (min-width: 768px) {

    header nav {
        margin-right: 0px;
    }

    #profile {
        display: initial;
    }

    footer .voltar {
        width: 6%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {

    footer .voltar {
        width: 5%;
        padding: 10px;
    }

}