* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0
}

/* -- BODY ----------------------------------------------------------------------------------------- */
html, body {
    height: 100%;
    overflow: auto;
}

body {
    background: rgba(140, 188, 224, 0.3); /*url("../imagens/superherois.png"),
                                              url("../imagens/fundo-ruidoso.png"),
                                              linear-gradient(60deg, rgb(177, 173, 173), #eee7e7);*/
    overflow-x: hidden;           
}

/* -- FIM BODY -------------------------------------------------------------------------------------- */


/* -- HEADER -----------------------------------------------------------------------------------------*/
/* header {
    width: 100%;
    margin-top: -8;
} 

   header span {
    align-self: center;
    margin-left: 10px;
}

header nav {
    height: 100%;
    width: 100px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.crtl_user {
    width: 50%;
    height: 60%px;
    
} */
/*-- FIM HEADER --------------------------------------------------------------------------------------*/

/* -- MAIN -------------------------------------------------------------------------------------------*/

.categorias {
    width: 100vw;
    display: none;
    border-bottom: 3px solid #969FAA;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

h1 {
    font-size: 2rem;
}

.categoria_especifica {
    background-color: gray;
    border-radius: 500px;
    width: 10%;
    height: 40px;
    padding: 10px 0px;
    text-align: center;
    font-size: 90%;

}

#navegacao {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 60px;
    left: -100%;
	z-index: 10;
    background-color: blue;
    color: #fff;
    display: flex;
    flex-direction: column;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}


#navegacao.active {
    left: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.menu-toggle {
    position: relative;
    left: 88%;
    width: 10%;
    cursor: pointer;
}

.menu-toggle img {
    width: 100%;
}

.selecao {
    display: flex;
    align-items: center;
    
}

.selecao img {
    width: 32px;
}

.selecao span {
    color: #fff;
    display: inline;
}

.expositor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.base_apoio {
    background-color: #CBCCCD;
    width: 95%;
    max-width: 360px;
    padding: 5px;
    margin: 3px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.base_apoio .hq img {
    width: 90%;

}

.base_apoio .container {

    background-color: #E0E6ED;
    width: 95%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    
}

.base_apoio .container .interagir {
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.base_apoio .container .interagir img {
    width: 100%;
}

/* -- FIM MAIN ---------------------------------------------------------------------------------------*/



/* -- FOOTER -----------------------------------------------------------------------------------------*/

footer {
    width: 100%;
    background-color: #212121;
    color: #FFF;
    margin-top: 30px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .logo {
    border: 1px solid red;
}

footer .copyright {
    width: 90px;
    display: flex;
    
}

footer .copyright img {
    width: 100%;
}

footer .voltar {
    width: 9%;
}

footer .voltar img {
    width: 100%;
}
/* -- FIM FOOTER -------------------------------------------------------------------------------------*/


/*-- Média Queries*/

@media (min-width: 481px) {
    .base_apoio {
        width: 45%;
    }

    #navegacao {
        width: 50%;
        display: block;
        position: fixed;
        z-index: auto;
    }

    footer .voltar {
        width: 6%;
    }
} 

@media(min-width: 550px) {

    #navegacao {
        width: 33%;
    }
}

@media(min-width: 650px) {

    .base_apoio {
        max-width: 360px;
     }
}
    
@media (min-width: 768px) {
    .categorias {
        display: flex;
    }

    #navegacao {
        width: 25%;
    }

    .base_apoio {
       max-width: 330px;
    }

    header nav {
        margin-right: 0px;
    }

    footer .voltar {
        width: 6%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    footer .voltar {
        width: 5%;
        padding: 10px;
    }
}