* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0
}

/* -- BODY ----------------------------------------------------------------------------------------- */
html, body, .capa {
    height: 100%;
    overflow: auto;
}

body {
    background: rgba(140, 188, 224, 0.3); /*url("../imagens/superherois.png"),
                                              url("../imagens/fundo-ruidoso.png"),
                                             linear-gradient(60deg, rgb(177, 173, 173), #eee7e7);*/
    overflow-x: hidden;
    
                
}

/* -- FIM BODY -------------------------------------------------------------------------------------- */


/* -- HEADER -----------------------------------------------------------------------------------------*/
header {
    width: 100%;
    height: 60px;
    background-color:#969FAA;
    display: flex;
    justify-content: space-between;
}

header span {
    align-self: center;
    margin-left: 10px;
}

header nav {
    height: 100%;
    width: 100px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.crtl_user {
    width: 50%;
    height: 60%px;
    
}
/*-- FIM HEADER --------------------------------------------------------------------------------------*/

/* -- MAIN -------------------------------------------------------------------------------------------*/

/*-- Apresentação --*/
main .merchandizing {
    width: auto;
    height: 80vh;
    margin: 10px 0px;
}

.convite {
    width: 100%;
}

main button {
    width: 200px;
    height: 30px;
    background-color: #47525E;
    margin-left: 50px;
}
/*-- Fim apresentação --*/

/*-- Chamada --*/
.chamada {
    width: auto;
    height: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chamada .logo-herois {
    width: 80%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

.simbolo-heroi {
    width: 32px;
    height: 32px;
}
/*-- Fim chamada --*/

/*-- Conteúdo 1 --*/
.container {
    background-color: #CACED2 ;
    width: auto;
    height: 100vh;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.quadrinhos {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.capa-gibi {
    border: 1px solid black;
    width: 40%;
    height: 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.capa-gibi img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.descricao {
    width: 50%;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
}

h3 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px; 
}

p {
    font-size: 15px;
    margin-bottom: 20px;
}
/*-- Fim conteúdo 1 --*/

/*-- Conteúdo 2 --*/
.recursos {
    width: auto;
    height: 80vh;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
}
/*-- Fim conteúdo 2 --*/

/*-- Imprensa --*/
.imprensa {
    background-color: #CACED2;
    width: auto;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imprensa div {
    width: 80%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

.imprensa div img {
    width: 40px;
    height: 40px;
}
/*-- Fim imprensa --*/

/* -- FIM MAIN ---------------------------------------------------------------------------------------*/

/* -- FOOTER -----------------------------------------------------------------------------------------*/

footer {
    background-color: #212121;
    color: #FFF;
    margin-top: 10px;
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
}

/*-- Logo e Redes sociais --*/
.redes-sociais {
    display: flex;
    justify-content: space-between;
}

.redes-sociais div {
    margin: 0px 0px 50px;
    display: flex;
    justify-content: space-around;
}

.redes-sociais div img {
    width: 50px;
}
/*-- Fim Logo e Redes Sociais --*/

.capsula {
    display: flex;
    justify-content: space-around;
}
/*-- Links --*/
.capsula .links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/*-- Fim links --*/

/*-- Newsletter --*/
.capsula .newsletter {
    align-self: center;
}

.capsula .newsletter input {
    width: 300px;
    height: 20px;
}

.capsula .newsletter button {
    width: 50px;
    height: 20px;
    background-color: #F95F62;
}
/*-- Fim newsletter --*/

/* -- FIM FOOTER -------------------------------------------------------------------------------------*/



