.header{
    margin-top:60px;
}

.headertitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora','serif';
    color:#777;
}

.headertitlesm{
    position: absolute;
    font-size: 20px;
    top: 18%;

}

.headertitlelg{
    position: absolute;
    font-size: 100px;
    top: 20%;
}

.headerimg{
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    object-fit: cover;

}